<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap"
  rel="stylesheet"
/>
<h1>PCACloud</h1>
<h1 style="text-align: center">{{ name }}</h1>
<b>Instructions:</b>
<p>
  Hover cusor over a word to view how many votes it has. <br />Submit or click a
  word to add your vote! <br />Its slow, so it may take a second for your vote
  to load.<br />
  Have fun!
</p>

<div style="align-items: center">
  <list-words></list-words>
</div>

<div style="text-align: center">
  <input-word></input-word>
</div>
