p {
  font-family: Lato;
}
h1 {
  font-family: Comic Neue;
  color: rgb(51, 176, 207);
}
b {
  font-family: Comic Neue;
  color: rgb(54, 139, 160);
}

p {
  font-family: Comic Neue;
  color: rgb(51, 176, 207);
}
